.axis {
  stroke: #333333;
  stroke-width: 3;
}
.grid {
  stroke: #dddddd;
  stroke-width: 1;
  opacity: .25;
}
.label {
  cursor: default;
  text-anchor: middle;
  font-size: 14px;
  fill: #444444
}
#mab {
  stroke: #000000;
  stroke-width: 2;
  fill: #a9a9a9;
  opacity: 0.6;
}
#tiger {
  stroke: #000000;
  stroke-width: 2;
  fill: #a9a9a9;
  opacity: 0.6;
}
#cat {
  stroke: #000000;
  stroke-width: 2;
  fill: #a9a9a9;
  opacity: 0.6;
}
#cat:hover {
  fill: #ec008c;
  opacity: 1;
}
#tiger:hover {
  fill: #ec008c;
  opacity: 1;
}
#mab:hover {
  fill: #ec008c;
  opacity: 1;
}
.bar:hover {
    fill: #ec008c;
    opacity: 1;
}
.series:hover .bar {
    fill: #ec008c;
    opacity: 1;
}
